<li>
	{{name}}

	<button class="change-served" data-id="{{id}}" data-newOrder="{{burger_served}}">
		{{#if burger_served}}Burger Served!{{else}}Ready For Pick-Up!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Eat THE Burger!!</button>
</li>

